<div fxLayout="row wrap" class="colored box nopad">

    <md-card fxFlex="50%" >
        <md-card-title>
            Pending
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item [dragDirective]='task' *ngFor="let task of taskNotDone ,let lst= last">
                    <span fxFlex="80%">{{task.title}}</span>
                    <button fxFlex="20%" md-icon-button (click)="removeTask(task._id,task.status)"><span mdTooltip="Delete"></span> <md-icon>delete</md-icon></button>
                </md-list-item>
            </md-list>
        </md-card-content>

        <md-card-footer>
            <md-input-container class="example-full-width">
                <input mdInput name="title" [(title)]="title" placeholder="Add new task" value="{{title}}" (keyup.enter)="addNewTask($event.target.value)">
            </md-input-container>
        </md-card-footer>
    </md-card>

    <md-card fxFlex="50%" dropDirective (dropEvent)="DoneTask($event)">
        <md-card-title>
            Completed
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item  *ngFor="let task of taskDone  ,let lst= last">
                    <span fxFlex="80%">{{task.title}}</span>
                    <button fxFlex="20%" md-icon-button (click)="removeTask(task._id,task.status)"><span mdTooltip="Delete"></span> <md-icon>delete</md-icon></button>
                </md-list-item>


            </md-list>
        </md-card-content>


    </md-card>

    <!--<md-card fxFlex="33.33%">-->
        <!--<md-card-header>-->
            <!--<md-card-title>{{task.title}}</md-card-title>-->
        <!--</md-card-header>-->
        <!--<md-card-content>-->
            <!--<md-list>-->
                <!--<md-list-item>{{task.isDone ? 'Done' : 'In Progress'}}</md-list-item>-->
                <!--<md-list-item>{{task.createdByDate | date}}</md-list-item>-->
            <!--</md-list>-->
        <!--</md-card-content>-->
    <!--</md-card>-->

</div>
